<h1>All Contacts</h1>

<ul>
<% @contacts.each do |contact| %>





  <li><%= contact.first_name %> <%= contact.last_name %> <%contact.email %> <%= contact.note %></li>
  <li>ID#: <%= contact.id %></li>
  <li><a href="/contacts/<%= contact.id %>">Edit</a></li>

<% end %>
</ul> 
<li><a href="/contacts/new">Add a Contact</a></li>
